<html>
<head>
	<link rel="stylesheet" href="/static/css/style.css" type="text/css"></link>
	<link href='http://fonts.googleapis.com/css?family=Sonsie+One|Inika' rel='stylesheet' type='text/css'>
</head>
<body>
	<img alt="full screen background image" src="/static/images/background/background.jpg" id="full-screen-background-image" /> 
  	<div id="wrapper">
		<div id="content">
			<p class="content_title">Sourcing Zen</p>
			
			<p class="content_text">
			In case you may have any questions or suggestions (we are really open to both!), please, use the form below to get in contact with us.	
			</p>	
			<form name="contact_form" method="POST">
				<p class="content_small_text">Enter your email to be contacted</p>
				
				{{email}}
				<p class="content_small_text">Enter your comment below</p>
				{{contact_message}}
				<p class="button"><a class="button_text" href="javascript: document.contact_form.submit()">Submit</a></p>
			</form>
		</div></br>

		<p class="button"><a class="button_text" href="/">Go Back</a></p>
  	</div>
</body>
</html>
