<html>
<head>
	<link rel="stylesheet" href="/static/css/style.css" type="text/css"></link>
	<link href='http://fonts.googleapis.com/css?family=Sonsie+One|Inika' rel='stylesheet' type='text/css'>
</head>
<body>
	<img alt="full screen background image" src="/static/images/background/background.jpg" id="full-screen-background-image" /> 
  	<div id="f_wrapper">
		<div id="f_content">
			<p class="content_title">Features</p>
			<ul>
				<li>
					<p class="title_box">Set up your private reverse auction</p>
					<hr class="for_lists"/>
					<img src="/static/images/icons/auction.png" class="floatLeft"/>
					<p class="content_text">
					When you need to purchase a product, you will be able to set up a private auction. In this way, your suppliers will compete in offering you the best deal at the lowest bid.
					</p>
				
				</li>
				
				<li>
					<p class="title_box">Invite only who you want</p>
					<hr class="for_lists"/>
					<img src="/static/images/icons/letter.png" class="floatLeft"/>
					<p class="content_text">
					Invite your trusted suppliers. Or invite new potential suppliers to see what is their best price. In any case, you decide who participates in your auction. 	
					</p>
				
				</li>
				
				<li>
					<p class="title_box">Make savings</p>
					<hr class="for_lists"/>
					<img src="/static/images/icons/savings.png" class="floatLeft"/>
					<p class="content_text">
					Realize savings by receiving better offers, but also by reducing the time required for a purchase. Finally, saving cost by using a web hosted solution, accessible from everywhere and available at affordable prices also for professionals and small companies. 	
					</p>
				
				</li>
			</ul>
		</div>
		</br><p class="button"><a class="button_text" href="/">Go Back</a></p>
  	</div>
</body>
</html>
