<html>
<head>
	<link rel="stylesheet" href="/static/css/style.css" type="text/css"></link>
	<link href='http://fonts.googleapis.com/css?family=Sonsie+One|Inika' rel='stylesheet' type='text/css'>
</head>
<body>
	<img alt="full screen background image" src="/static/images/background/background.jpg" id="full-screen-background-image" /> 
  	<div id="wrapper">
		<div id="content">
			<p class="content_title">Sourcing Zen</p>
			
			<hr/>
			<p class="content_text">
			{{message}}
			</p>
			<hr/></br>			

		</div></br>

		<p class="button"><a class="button_text" href="/">Go Back</a></p>
		</div>
</body>
</html>
